# ===== Python =====
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
backend/data/*.json

# ===== Flask =====
instance/
*.log

# ===== Node / React =====
node_modules/
dist/
build/
.vite/

# ===== OS / Editor =====
.DS_Store
Thumbs.db
.idea/
.vscode/

# ===== Misc =====
*.tmp
*.swp